<h1>New profesor</h1>

<%= error_messages_for :profesor %>

<% form_for(@profesor) do |f| %>
  <p>
    <b>Salario</b><br />
    <%= f.text_field :salario %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', profesors_path %>
