<% form_for([@alumno, @falta_de_asistencia]) do |f| %>
<p>
  <b>Fecha</b><br />
  <%= date_field :falta_de_asistencia, :fecha, :format => ActiveSupport::CoreExtensions::Date::Conversions::DATE_FORMATS[:default_date], :value => @falta_de_asistencia.fecha %>
</p>
<p>
  <b>Motivo</b><br />
  <%= f.text_area :motivo %>
</p>

<p>
  <%= f.submit button_name %>
</p>
<% end %>
