<h1>Editando la faltas de asistencia</h1>

<%= error_messages_for :falta_de_asistencia %>

<%= render :partial => @falta_de_asistencia, :locals => {:button_name => "Actualizar"} %>

<%= link_to 'Ver', [@alumno, @falta_de_asistencia] %> |
<%= link_to 'Regresar a las faltas de asistencias del alumno', alumno_falta_de_asistencias_path(@alumno) %>
