<h1>New falta_de_asistencia</h1>

<%= error_messages_for :falta_de_asistencia %>

<%= render :partial => @falta_de_asistencia, :locals => {:button_name => "Create" } %>

<%= link_to 'Back', alumno_falta_de_asistencias_path(@alumno) %>
