<h1>Editing grupo</h1>

<%= error_messages_for :grupo %>

<% form_for(@grupo) do |f| %>
<%= render( :partial => "form", :locals => {:f => f} ) %>
<% end %>

<%= link_to 'Show', @grupo %> |
<%= link_to 'Back', grupos_path %>
