<h1>Editando transportador</h1>

<%= error_messages_for :transportador %>

<% form_for(@transportador) do |f| %>
<%= render :partial => "form", :locals => { :f => f, :button_name => "Actualizar"} %>
<% end %>

<%= link_to 'Ver', @transportador %> |
<%= link_to 'Ir a lista de transportadores', transportadors_path %>
