<h1>Nuevo telefono para <%= h @persona.nombre_completo %></h1>

<%= error_messages_for :telefono %>

<%= render :partial => @telefono, :locals => {:button_name => "Crear" } %>

<%= link_to 'Regresar a la lista de telefonos de la persona', persona_telefonos_path(@persona) %>
