<p>
  <b>Numero:</b>
  <%=h @telefono.numero %>
</p>


<%= link_to 'Editar', [:edit, @persona, @telefono] %> |
<%= link_to 'Regresar a la lista de telefonos de la persona', persona_telefonos_path(@persona) %>
