<h1>Editing exalumno</h1>

<%= error_messages_for :exalumno %>

<%= render (:partial => @exalumno, :locals => { :button_name => "Update" } ) %>

<%= link_to 'Show', [@alumno, @exalumno] %> |
<%= link_to 'Back', alumno_path(@alumno) %>
