<h1>Lista de exalumnos</h1>

<table>
  <tr>
    <th>Alumno</th>
    <th>Fecha retiro</th>
    <th>Motivo</th>
  </tr>
  <% for exalumno in @exalumnos -%>
  <tr>
    <td><%=link_to exalumno.alumno.nombre_completo, exalumno.alumno %></td>
    <td><%=h exalumno.fecha_retiro %></td>
    <td><%=h exalumno.motivo %></td>
    <td><%= link_to 'Eliminar', alumno_exalumno_path(exalumno.alumno), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
  <% end %>
</table>

<br />
