<% if @exalumno.nil? %>
Ninguno <br />
<% else %>
<p>
  <b>Fecha retiro:</b>
  <%=h @exalumno.fecha_retiro %>
</p>

<p>
  <b>Motivo:</b>
  <%=h @exalumno.motivo %>
</p>
<%= link_to 'Editar', edit_alumno_exalumno_path(@alumno) %> |
<% end %>


<%= link_to 'Regresar', alumno_path(@alumno) %>
