<p>
  <b>Fecha retiro:</b>
  <%=h @exalumno.fecha_retiro %>
</p>

<p>
  <b>Motivo:</b>
  <%=h @exalumno.motivo %>
</p>


<%= link_to 'Edit', edit_exalumno_path(@exalumno) %> |
<%= link_to 'Back', exalumnos_path %>
