<tr>
  <td>
    <p>
      <div>
	<h3><%= link_to familia.nombre, familia %></h3>
      </div>
	<%= link_to 'Editar', edit_familia_path(familia) %>
	<%= link_to 'Eliminar', familia, :confirm => 'Are you sure?', :method => :delete %>
    
      
    </p>
  </td>
  
</tr>
