<h1>Editing familia</h1>

<%= error_messages_for :familia %>

<% form_for(@familia) do |f| %>
<%= render( :partial => "form", :locals => {:f => f} %>
<% end %>

<%= link_to 'Show', @familia %> |
<%= link_to 'Back', familias_path %>
