<h1>Lista de familias</h1>

<% content_for :title do -%>
Lista de familias
<% end -%>

<% form_tag familias_path, :method => :get do %>
<%= text_field_tag :buscar, params[:buscar] %>
<%= submit_tag "Buscar", :name => nil %>
<% end %>

<table>
  <tr>
    <th>Nombre</th>
  </tr>

  <%= render(:partial => "familia", :collection => @familias)%>

</table>

<br />

<%= link_to 'Agregar nueva familia', new_familia_path %>






