<h1>Lista de familias</h1>

<table>
  <tr>
    <th>Nombre</th>
  </tr>

  <%= render(:partial => "familia", :collection => @familias)%>

</table>

<br />

<%= link_to 'Agregar nueva familia', new_familia_path %>
