<h1>Crear nueva familia</h1>

<%= error_messages_for :familia %>

<% form_for(@familia) do |f| %>
<%= render( :partial => "form", :locals => {:f => f} ) %>
<% end %>

<%= link_to 'Regresar a la lista de familias', familias_path %>
