<h1>Quitar personas de la <%= link_to "familia " +  @familia.nombre, familia_path %></h1>

<% form_tag quitar_personas_familia_path, :method => :put do %>
<ul>
  <%= render(:partial => "persona_checkbox", :collection => @personas ) %>
</ul>
<%= hidden_field_tag "familia_id", @familia.id %>
<%= submit_tag "Quitar" %> <br />
<% end %>

